* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
  font-size: 1px;
}

@font-face {
  font-family: gamefont;
  src: url(Nintendo-DS-BIOS.ttf);
}

body {
  background-image: url(imagenes/b.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.a {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1000px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1000px) {
  /* Specific to this particular image */
  .a {
    left: 50%;
    margin-left: -512px;
  }
}

h2 {
  position: relative;
  font-family: "Rowdies", cursive;
  color: black;
  font-size: 25px;
}

h3 {
  position: relative;
  font-family: "Rowdies", cursive;
  color: black;
  font-size: 30px;
}

.start {
  position:fixed;
  top: 50vh;
  left: 46%;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 45px;
}
#go1 {
  left: 25%;
}
#go2 {
  left: 45%;
}
#go3 {
  left: 65%;
}

/*css del tablero de juego*/
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 17%;
}

@media (min-width: 800px ) {
  .grid {
    left: 500px;
    width: 900px;
    height: 500px;
    border-radius: 25px;
    justify-content: center;
  }
  .card {
    width: 100px;
    height: 120px;
    border: 3px #354ba1;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    animation: gameStart 3s;
  }
  .backCard {
    height: 100%;
    width: 100%;
    position: relative;
    justify-content: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    align-content: center;
    background-color: #354ba1;
    border-radius: 10px;
  }
  .frontCard {
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: #f7f8f8;
    border-radius: 10px;
  }

}
/* estilo y funcionalidad de flip a la carta*/

.card {
  width: 100px;
  height: 120px;
  border: 3px #354ba1;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  animation: gameStart 3s;
}

.card:hover {
  box-shadow: 0 4px 16px rgb(214, 73, 7);
}

.frontCard {
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  backface-visibility: hidden;

  transform: rotateY(180deg);
  background-color: #f7f8f8;
  border-radius: 10px;
}
.backCard {
  display: flex;
  height: 100%;
    width: 100%;
    position: relative;
    justify-content: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    align-content: center;
    background-color: #354ba1;
    border-radius: 10px;
}

.flipCard {
  transform: rotateY(180deg);
}

.matchCards {
  pointer-events: none;
  transform: rotateY(180deg);
}

@keyframes gameStart {
  60%,
  90% {
    transform: rotateY(180deg);
  }

  30%,
  100% {
    transform: rotateY(0deg);
  }
}

.timer {
  font-size: 100px;
  color: rgba(255, 255, 255, 0.822);
  width: 190rem;
  height: 70rem;
  margin-left: 43%;
  text-align: center;
  font-family: gamefont;
  background-color: rgba(0, 0, 0, 0.664);
  position: relative;
}
