* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 1px;
}


.b {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  .b {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

.a {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  .a {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

h2 {
  position: relative;
  font-family: "Rowdies", cursive;
  color: black;
  font-size: 25px;
}

h3 {
  position: relative;
  font-family: "Rowdies", cursive;
  color: black;
  font-size: 150%;
}
.b {
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
}
.start {
  position: absolute;
  top: 50vh;
  left: 46%;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 45px;
}
#go1 {
  left: 25%;
}
#go2 {
  left: 45%;
}
#go3 {
  left: 65%;
}

#root {
  display: flex;
  }
  /*css del tablero de juego*/
.grid {
  display: grid;
  flex-wrap: wrap;
  margin: none;
  grid-template-columns: auto auto auto auto auto auto ;
  border-radius: 25px;
  background: rgba(212, 26, 26, 0.23);
}

@media (min-width: 768px) {
  .grid {
    width: 640px;
    height: 500px;
    display: grid;
    flex-wrap: wrap;
    margin: auto;
    grid-template-columns: auto auto auto auto auto auto;
    border-radius: 25px;
    background: rgba(50, 224, 214, 0.23);
  }
}
 /* estilo y funcionalidad de flip a la carta*/
 .card {
  width: 65px;
  height: 80px;
  border: 3px #354BA1;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  animation: gameStart 3s;
}

@media (min-width: 768px) {
  .card {
    width: 100px;
    height: 100px;
    border: 3px #354BA1;
    border-radius: 10px;
    margin: auto;
    display: flex;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    animation: gameStart 3s;
  }
}

.card:hover {
  box-shadow: 0 4px 16px rgb(119, 219, 236);
}
    

.frontCard {
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: #f7f8f8;
  border-radius: 10px;
}

.backCard {
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  align-content: flex-end;
}

@media (min-width: 768px) {
  .backCard {
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    align-content: flex-end;
  }
}
    .flipCard {
      transform: rotateY(180deg);
    }
    
    .matchCards {
      pointer-events: none;
      transform: rotateY(180deg);}
      @keyframes gameStart {

        70%,
        90% {
          transform: rotateY(180deg);
        }
      
        30%,
        100% {
          transform: rotateY(0deg);
        }
      }

     